@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

:root {
    --primary-fonts: "League Spartan", sans-serif;
    --secondary-fonts: "Inter", sans-serif;
    --number-fonts: "Baloo Thambi 2", system-ui;
    --text-color: #202020;
    --dark-color: #202020;
    --primary-color: #97572A;
    --gray-bg: #FAFAFA;
    --section-gaps: 60px;
}

body {
    font-family: var(--primary-fonts);
    line-height: 1.6;
    font-weight: 400;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-fonts);
    line-height: 1.3;
    font-weight: 500;
}

img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

a {
    text-decoration: none;
}

.list-none {
    list-style: none;
}

.section-gaps {
    padding: var(--section-gaps) 0;
}

.gray-bg {
    background-color: var(--gray-bg);
}

.text-box p{
    font-size: 16px;
    font-weight: 400;
}
.row.custom-gap-30{
    --bs-gutter-x: 33px;
    --bs-gutter-y: 33px;
}
/*Default btn CSS*/

a.primary-btn{
    display: inline-block;
    color: #ffffff;
    background-color: var(--primary-color);
    padding: 13px 35px;
    line-height: 1;
    font-family: var(--secondary-fonts);
    text-transform: uppercase;
}

/*End Default btn CSS*/

/*Header CSS*/

.site-header {
    background-color: #ffffff;
    padding: 15px 0;
}

.primary-menu>li a {
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
}
.primary-menu > li {
    padding: 0 15px;
}

.search-wraper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}
.search-wraper .search-field{
    flex: 1 1 auto;
}
.search-wraper .search-field input{
    width: 100%;
    padding: 12px 30px 12px 30px;
    line-height: 1;
    font-size: 16px;
    border: 1px solid #DBDCE0;
    border-radius: 0px;
    outline: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.5811 13.2949C15.7013 11.8945 16.3711 10.1183 16.3711 8.18554C16.3711 3.66479 12.7063 0 8.18554 0C3.66479 0 0 3.66479 0 8.18554C0 12.7063 3.66479 16.3711 8.18554 16.3711C10.1183 16.3711 11.8945 15.7013 13.2949 14.5811L18.4473 19.7336C18.8025 20.0888 19.3784 20.0888 19.7336 19.7336C20.0888 19.3784 20.0888 18.8025 19.7336 18.4473L14.5811 13.2949ZM8.18554 14.5612C4.66436 14.5612 1.80988 11.7067 1.80988 8.18554C1.80988 4.66436 4.66436 1.80988 8.18554 1.80988C11.7067 1.80988 14.5612 4.66436 14.5612 8.18554C14.5612 11.7067 11.7067 14.5612 8.18554 14.5612Z' fill='%23202020'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
}
.search-wraper .search-field input::placeholder{
    color: var(--text-color);
}

/*End Header CSS*/


/*Main-banner CSS*/

.main-banner-section{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70%;
    position: relative;
    z-index: 0;
}
.main-banner-section::before{
    content: '';
    position: absolute;
    background-color: #20202080;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    backdrop-filter: blur(4px);
}
.small-container.container{
    max-width: 1100px;
}
.banner-item{
    padding: 75px 0;
    color: #ffffff;
}
.banner-title h2{
    font-size: 52px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-item .text-box p{
    font-size: 18px;
}
.banner-price{
    font-size: 24px;
}
.banner-price span{
    font-weight: 600;
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: 5%;
    display: block;
    font-family: var(--number-fonts);
}
.banner-item .img-holder{
    text-align: center;
}
.banner-item img{
    width: 300px;
    
}
.banner-content .default-btn{
    margin-top: 40px;
}

.banner-slider .splide__pagination{
    bottom: 25px;
}
.banner-slider .splide__pagination button{
    opacity: 1;
    background-color: #d9d9d9;
    width: 10px;
    height: auto;
    aspect-ratio: 1;
    transform: scale(1);
    border: 1px solid transparent;
    outline: 0;
}
.banner-slider .splide__pagination .splide__pagination__page.is-active{
    background-color: var(--dark-color);
    border-color: #ffffff;
    width: 12px;
}
/*End Main banner CSS*/

/*benefits-section CSS*/

.benefits-section{
    padding: 120px 0;
    text-align: center;
}
.benefits-section .container{
    max-width: 1100px;
}
.section-head{
    margin-bottom: 45px;
}

.main-title h2.title{
    font-weight: 500;
    font-size: 26px;
    text-transform: uppercase;
}
.benefit-item{
    padding: 0 20px;
}
.benefit-item .icon{
    margin-bottom: 20px;
}
.benefit-name h3{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 400;
}
.benefit-detail p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}


/*End benefits-section CSS*/


/*home-category-section CSS*/

.home-category-section{
    --container-offset: 0px;
    overflow: hidden;
}
.home-category-section .img-holder{
    margin-left: calc(-1 * var(--container-offset));
}
.home-category-section .img-holder img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.main-title h3.title{
    font-size: 48px;
    font-weight: 400;
    text-transform: capitalize;
}
.category-content{
    max-width: 550px;
    padding: 0  55px ;
}
.category-content .text-box p{
    font-size: 18px;
}
.home-category-section.right-side .row{
    flex-direction: row-reverse;
}
.home-category-section.right-side .img-holder{
    margin-left: auto;
    margin-right: calc(-1 * var(--container-offset));
}
.home-category-section.right-side .category-content{
    text-align: right;
    margin-left: auto;
}
/*End home-category-section CSS*/


/*home-product-listing CSS*/

.product-item{
    border: 1px solid #E5E5E5;
}
.product-item .img-holder{
    text-align: center;
    aspect-ratio: 15/13;
    display: grid;
    place-items: center;
}
.product-item .img-holder img{
    max-width: 70%;
    
}
.product-item .content{
    padding: 30px 15px 15px;
    border-top: 1px solid #E5E5E5;
    position: relative;
    z-index: 0;
}

.product-item .product-category{
    max-width: calc(100% - 60px);
    width: 100%;
    text-align: center;
    background-color: #EDEDF0;
    border-radius: 5px;
    padding: 3px 10px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50% , -50%);
    font-size: 14px;
}
.product-item .content h3{
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    padding-right: 30%;
}
.product-item .content h3 a{
    color: var(--text-color);
}

.product-item .price{
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
}
.product-item .price del{
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #CDCDCD;
}
.product-item a.atc-btn{
    padding: 10px;
    font-size: 12px;
    line-height: 1.1;
    font-weight: 600;
}

.product-slider .splide__arrow{
    position: static;
    opacity: 1;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #D7D7D7;
    transform: none;
}
.home-product-listing .container{
    position: relative;
}
.home-product-listing .main-title h2.title{
    margin-bottom: 40px;
}
.product-slider .splide{
    position: static;
}
.custom-arrows{
    position: absolute;
    display: flex;
    gap: 10px;
    right: calc(var(--bs-gutter-x) * 0.5);
    top: 0;
}

/*End home-product-listing CSS*/

/*Footer CSS*/

.site-footer{
    background-color: var(--dark-color);
    color: #fff;
}
.site-footer .container{
    max-width: 1200px;
}
.top-footer{
    padding: 60px 0;
}
.top-footer .site-logo{
    margin-bottom: 30px;
}
.footer-title h2{
    font-size: 28px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer-title h4{
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.footer-title h3{
    font-size: 21px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.big-column-gap{
    --bs-gutter-x: 56px;
    --bs-gutter-y: 60px;
}
.footer-item.px-40{
    padding: 0 40px;
}
ul.footer-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.footer-list a{
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}
ul.footer-list li:not(:last-child){
    margin-bottom: 20px;
}

.subscribe-form{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}
.subscribe-form .input-field{
    flex: 0 1 100%;
    max-width: 66.67%;
}
.subscribe-form input{
    width: 100%;
    padding: 15px;
    color: #585858;
    border: 0;
    outline: 0;
}
.subscribe-form .submit-field{
    flex: 1 1 auto;
}
.subscribe-form  button{
    width: 100%;
    height: 100%;
    background-color: #BA9457;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    outline: 0;
}
.insta-gallary{
    display: flex;
}
.insta-gallary img{
    max-width: 20%;
    aspect-ratio: 1.1;
    object-fit: cover;
    object-position: center;
}
.bot-footer{
    padding: 20px 0;
}
.bot-footer .container{
    position: relative;
}
.bot-footer .container::before{
    content: '';
    height: 1px;
    width: calc(100% + 100px);
    position: absolute;
    left: -50px;
    top: -20px;
    background-color: #6F6F6F;
}
.social-links a{
    color: #fff;
    font-size: 16px;
}
/*End Footer CSS*/

/*Shop CSS*/
/*Inner Banner CSS*/
.innerbanner-section{
    padding: 60px 0 0;
    text-align: center;
}
.main-title h1.title{
    font-size: 48px;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
}
/*End inner Banner CSs*/

/*product-listing-section CSS*/

.breadcrumbs :is(a,span){
    color: var(--text-color);
    font-size: 20px;
}
.filter{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    font-weight: 400;
}
.filter select{
    border: 0;
    outline: 0;
    cursor: pointer;
}
.filter span{
    font-weight: 500;
}
.filter-view{
    display: flex;
    align-items: center;
    gap: 10px;
}
.filter-view .view{
    cursor: pointer;
}
.filter-view .view:not(.active) svg > *{
    fill: #D9D9D9;
    transition: all .2s linear;
}

*[data-view="list"] .product-item{
    display: flex;
    gap: 33px;
}
*[data-view="list"] .product-item > *{
    flex:  0 0 calc(50% - (33px / 2));
}
*[data-view="list"] .product-item > .content{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
*[data-view="list"] .product-category{
    position: static;
    transform: none;
    width: 100%;
    text-align: left;
    background-color: transparent;
    padding: 0;
    margin-bottom: 10px;
}
*[data-view="list"] .product-item .content h3{
    padding: 0;
    font-size: 20px;
}
*[data-view="list"] .d-flex{
    max-height: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start !important;
}
*[data-view="list"] .price{
    margin-top: 20px;
    font-size: 24px;
}
/*END product-listing-section CSS*/



/*END Shop CSS*/


/*About CSS*/

.text-wrapper h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
.text-wrapper p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

.img-holder.square{
    aspect-ratio: 1;
    width: 100%;
}
.img-holder.square img{
    object-fit: cover;
    aspect-ratio: 1;
    width: 100%;
}

/*End About CSS*/


/*Contact CSS*/

.contact-detail{
    padding: 50px;
    background-color: var(--gray-bg);
    position: relative;
    overflow: clip;
    z-index: 0;
    height: 100%;
}

.contact-detail .background-image{
    position: absolute;
    width: 240px;
    height: 240px;
    background-size: cover;
    z-index: -1;
    right: -55px;
    bottom: -15px;
}
.contact-detail::before{
    content: '';
    position: absolute;
    z-index: -2;
    right: -55px;
    bottom: -14px;
    width: 340px;
    height: 340px;
    background-color: #97572A33;
    clip-path: ellipse(50% 43% at 50% 50%);
    transform: translate(5%,15%);
}
.get-in-touch{
    margin-bottom: 30px;
}
.get-in-touch h2{
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0.8;
    margin-bottom: 10px;
}
.get-in-touch p{
    font-size: 16px;
    font-weight: 400;
}
.contact-info{
    margin-bottom: 20px;
}
.contact-info > .d-flex{
    gap: 15px;
}
.contact-info .icon{
    background-color: #000000;
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}
.contact-info p{
    margin-bottom: 0;
    line-height: 1;
}
.contact-form .row{
    --bs-gutter-x: 33px;
    --bs-gutter-y: 33px;
}
.input-field :is(input,textarea){
    width: 100%;
    padding: 16px 20px;
    border: 1px solid #D7D7D7;
    border-radius: 0;
    outline: 0;
}
.input-field textarea{
    height: 150px;
}

.submit-field input{
    width: 100%;
    color: #ffffff;
    background-color: var(--primary-color);
    padding: 15px 35px;
    line-height: 1;
    font-family: var(--secondary-fonts);
    text-transform: uppercase;
    border: 0;
    font-weight: 600;
}

/*End Contact CSS*/